<!-- extension of staffdash for managing a assigned trek -->

{% extends "base.html" %}
{% block content %}


<div class="container">
	<h2>Manage Trek to: {{trek.trek_name.upper()}}</h2>
	<div style="text-align:right;">
    		<a class="action-link edit-link" href="{{url_for('staffdash')}}" style="font-size:16px;">Return to Dashboard</a>
	</div>

	<div class="card layout2">
		<h3>Trek details:</h3>
		<p><h5>Location: {{trek.location}}</h5></p>
		<p><h5>Difficulty: {{trek.difficulty}}</h5></p>
		<p><h5>Trek Duration: {{trek.duration_in_days}} day(s)</h5></p>
		<p><h5>Start Date: {{trek.start_date}}</h5></p>
		<p><h5>End Date: {{trek.end_date}}</h5></p>
		<p><h5>Participants: {{ part|length }}</h5></p>
		<p><h5>Available Slots: {{trek.available_slots}}</h5></p>
		<p><h5>Status: {{trek.status.upper()}}</h5></p>
	</div>
	
	<div class="card layout2">
		<h4>UPDATE TREK STATUS</h4>
		<form method="POST" class="fg">
            	<select name="status" required>
                <option value="open"{% if trek.status=="open" %}selected{% endif %}>Open</option>
                <option value="started"{% if trek.status=="started" %}selected{% endif %}>Started</option>
                <option value="completed"{% if trek.status=="completed" %}selected{% endif %}>Completed</option>
                </select>
		<button type="submit">Update Status</button>
		</form>
	</div>

	<div class="card layout2">
		<h4>Participant Details:</h4>
		{% if part %}
		<table>
    		<thead>
        	<tr>
            	<th>Trekker Name</th>
            	<th>Email</th>
            	<th>Booking Date</th>
            	<th>Booking Status</th>
        	</tr>
    		</thead>

   		<tbody>
        	{% for i in part %}
        	<tr>
            	<td>{{i.user_name.capitalize()}}</td>
            	<td>{{i.email}}</td>
            	<td>{{i.booking_date}}</td>
            	<td>{{i.status.upper()}}</td>
        	</tr>
        	{% endfor %}
    		</tbody>
		</table>
		{% else %}
		<h5>No participants have booked this trek yet.</h5>
		{% endif %}
	</div>

</div>
<br>

{% endblock %}