<!DOCTYPE html>
<html lange="en">
<head>
	<meta charset="UTF-8">
	<title> TREKKING MANAGEMENT APPLICATION </title>
</head>
<body>

	<h1> TREKKING MANAGEMENT APPLICATION </h1>
	
	<p>
        	<a href="{{ url_for('home') }}">Home</a>
		<br>
		<a href="{{ url_for('login') }}">Login</a>
		<br>
		<a href="{{ url_for('register') }}">New? Register as Trekker or Staff</a>
		<br>

        	<!--for M2, added login and register pages-->
    	</p>
	<hr>

    	<div>
        	{% block content %}

        	{% endblock %}
    	</div>

</body>
</html>