{% extends "base.html" %}
{% block content %}


<h2> Welcome to TREKKING MANAGEMENT APPLICATION </h2>

<p>
	This web app will help the Admin, Trek Staff, and Users (Trekkers) manage their treks, bookings, and trekking history.

	
</p>

<p>

For MILESTONE 5, Implemented almost all User dashboard functionalities and capabilities. Also included an overhauled and redesigned version of dashboard system different from the staff and admin dashboard. Plan to implement this across all dashboards if time permits
<br>
Use above links to go to Pages(More to be added later)
</p>

{% endblock %}