{% extends "base.html" %}
{% block content %}

<div class="container">
	<h2>Edit Profile:</h2>
	<a class="action-link edit-link" href="{{url_for('userdash')}}" style="font-size:16px;">Return to Dashboard</a>

	{% if e %}
	<p style="color:red;">{{e}}</p>
	{% endif %}

	<div class="card layout2">

		<form method="POST" class="fg">
    		<input type="text" name="FNAME" value="{{user.FNAME}}" placeholder="Full Name" required>
    		<input type="text" name="phone_no" value="{{user.phone_no}}" placeholder="Phone Number" required>

    		<input type="password" name="password" placeholder="Password (Required)(If unchanged, enter previous password)" required>
    		<input type="password" name="confirm_password" placeholder="Confirm Password" required>
    		<button type="submit">Update Profile</button>
		</form>

	</div>
</div>

{% endblock %}